:root {
  /* Display variables */
  --min-width: 320px;

  /* Font size variables */
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2rem;

  /* Line height variables */
  --line-base: 22px;

  /* Spacing variables */
  --space-sm: 1rem;
  --space-base: 2rem;
  --space-lg: 3rem;

  /* Colors */
  --primary-color: #1300c2;
  --secondary-color: #fff;
  --terciary-color: #d8d8d8;
  --emphasis-color: #ffc700;

  /* Button  */
  --button-radius: 25px;
  --button-width: 105px;
}

@font-face {
  font-family: "Charlevoix";
  src: url("../../assets/fonts/CharlevoixPro-Regular.woff2") format("woff2");
  text-rendering: optimizeLegibility;
}

body {
  font-size: var(--text-base);
  font-family: "Arial";
  color: var(--secondary-color);
  overscroll-behavior: none;
  background-color: var(--primary-color);
}
